{% extends "base.html.twig" %}
{% block main %}
    <div class="container-fluid align-content-center d-flex block-txt">
    </div>
    <div class="container-fluid fond d-flex flex-column">
        <div>
            <h1 class="titre-position">Ta catégorie n'existe pas !</h1>
        </div>
        <div>
            <button class="creer-epreuve"><a href="http://localhost:8000/creation-categorie">Créer ta catégorie</a></button>
        </div>
    </div>
{% endblock %}