{% extends "base.html.twig" %}
{% block main %}
<div class="container-fluid align-content-center d-flex block-txt">

</div>
<div class="container-fluid fond d-flex flex-column">
    <div>
        <h1 class="titre-position">Il n'y a pas encore d'épreuve</h1>
    </div>
    <div>
        <button class="creer-epreuve"><a href="http://localhost:8000/creation-epreuve">Créer une épreuve</a></button>
    </div>
</div>
{% endblock %}