{% extends "base.html.twig" %}
{% block main %}
    <div class="container-fluid align-content-center d-flex block-tr flex-column">
        <h1 class="pos-h1">Liste des participants</h1>
        <table class="container-fluid d-flex flex-column pos-td">
            <tr>
                <td class="wdt-100px title">Nom</td>
                <td class="wdt-100px title">Prenom</td>
                <td class="wdt-100px title">Catégorie</td>
                <td class="wdt-100px title">Profil</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="wdt-100px"></td>
                <td class="wdt-100px"></td>
                <td class="wdt-100px"></td>
                <td class="wdt-100px"></td>
                <td><a href="" ><img class="mini-icon" alt="corbeille" src="../../../assets/images/corbeille.png"></a></td>
                <td><a href=""><img class="mini-mini-icon" src="../../../assets/images/pencil.png" alt="pencil"></a></td>
            </tr>
            <tr>
                <td class="wdt-100px"></td>
                <td class="wdt-100px"></td>
                <td class="wdt-100px"></td>
                <td class="wdt-100px"></td>
                <td><a href="" ><img class="mini-icon" alt="corbeille" src="../../../assets/images/corbeille.png"></a></td>
                <td><a href=""><img class="mini-mini-icon" src="../../../assets/images/pencil.png" alt="pencil"></a></td>
            </tr>
            <tr>
                <td class="wdt-100px"></td>
                <td class="wdt-100px"></td>
                <td class="wdt-100px"></td>
                <td class="wdt-100px"></td>
                <td><a href="" ><img class="mini-icon" alt="corbeille" src="../../../assets/images/corbeille.png"></a></td>
                <td><a href=""><img class="mini-mini-icon" src="../../../assets/images/pencil.png" alt="pencil"></a></td>
            </tr>
            <tr>
                <td class="wdt-100px"></td>
                <td class="wdt-100px"></td>
                <td class="wdt-100px"></td>
                <td class="wdt-100px"></td>
                <td><a href="" ><img class="mini-icon" alt="corbeille" src="../../../assets/images/corbeille.png"></a></td>
                <td><a href=""><img class="mini-mini-icon" src="../../../assets/images/pencil.png" alt="pencil"></a></td>
            </tr>
            <tr>
                <td class="wdt-100px"></td>
                <td class="wdt-100px"></td>
                <td class="wdt-100px"></td>
                <td class="wdt-100px"></td>
                <td><a href="" ><img class="mini-icon" alt="corbeille" src="../../../assets/images/corbeille.png"></a></td>
                <td><a href=""><img class="mini-mini-icon" src="../../../assets/images/pencil.png" alt="pencil"></a></td>
            </tr>
            <tr>
                <td class="wdt-100px"></td>
                <td class="wdt-100px"></td>
                <td class="wdt-100px"></td>
                <td class="wdt-100px"></td>
                <td><a href="" ><img class="mini-icon" alt="corbeille" src="../../../assets/images/corbeille.png"></a></td>
                <td><a href=""><img class="mini-mini-icon" src="../../../assets/images/pencil.png" alt="pencil"></a></td>
            </tr>
            <tr>
                <td class="wdt-100px"></td>
                <td class="wdt-100px"></td>
                <td class="wdt-100px"></td>
                <td class="wdt-100px"></td>
                <td><a href="" ><img class="mini-icon" alt="corbeille" src="../../../assets/images/corbeille.png"></a></td>
                <td><a href=""><img class="mini-mini-icon" src="../../../assets/images/pencil.png" alt="pencil"></a></td>
            </tr>
            <tr>
                <td class="wdt-100px"></td>
                <td class="wdt-100px"></td>
                <td class="wdt-100px"></td>
                <td class="wdt-100px"></td>
                <td><a href="" ><img class="mini-icon" alt="corbeille" src="../../../assets/images/corbeille.png"></a></td>
                <td><a href=""><img class="mini-mini-icon" src="../../../assets/images/pencil.png" alt="pencil"></a></td>
            </tr>
            <tr>
                <td class="wdt-100px"></td>
                <td class="wdt-100px"></td>
                <td class="wdt-100px"></td>
                <td class="wdt-100px"></td>
                <td><a href="" ><img class="mini-icon" alt="corbeille" src="../../../assets/images/corbeille.png"></a></td>
                <td><a href=""><img class="mini-mini-icon" src="../../../assets/images/pencil.png" alt="pencil"></a></td>
            </tr>
            <tr>
                <td class="wdt-100px"></td>
                <td class="wdt-100px"></td>
                <td class="wdt-100px"></td>
                <td class="wdt-100px"></td>
                <td><a href="" ><img class="mini-icon" alt="corbeille" src="../../../assets/images/corbeille.png"></a></td>
                <td><a href=""><img class="mini-mini-icon" src="../../../assets/images/pencil.png" alt="pencil"></a></td>
            </tr>
            <tr>
                <td class="wdt-100px"></td>
                <td class="wdt-100px"></td>
                <td class="wdt-100px"></td>
                <td class="wdt-100px"></td>
                <td><a href="" ><img class="mini-icon" alt="corbeille" src="../../../assets/images/corbeille.png"></a></td>
                <td><a href=""><img class="mini-mini-icon" src="../../../assets/images/pencil.png" alt="pencil"></a></td>
            </tr>
            <tr>
                <td class="wdt-100px"></td>
                <td class="wdt-100px"></td>
                <td class="wdt-100px"></td>
                <td class="wdt-100px"></td>
                <td><a href="" ><img class="mini-icon" alt="corbeille" src="../../../assets/images/corbeille.png"></a></td>
                <td><a href=""><img class="mini-mini-icon" src="../../../assets/images/pencil.png" alt="pencil"></a></td>
            </tr>
            <tr>
                <td class="wdt-100px"></td>
                <td class="wdt-100px"></td>
                <td class="wdt-100px"></td>
                <td class="wdt-100px"></td>
                <td><a href="" ><img class="mini-icon" alt="corbeille" src="../../../assets/images/corbeille.png"></a></td>
                <td><a href=""><img class="mini-mini-icon" src="../../../assets/images/pencil.png" alt="pencil"></a></td>
            </tr>
            <tr>
                <td class="wdt-100px"></td>
                <td class="wdt-100px"></td>
                <td class="wdt-100px"></td>
                <td class="wdt-100px"></td>
                <td><a href="" ><img class="mini-icon" alt="corbeille" src="../../../assets/images/corbeille.png"></a></td>
                <td><a href=""><img class="mini-mini-icon" src="../../../assets/images/pencil.png" alt="pencil"></a></td>
            </tr>
            <tr>
                <td class="wdt-100px"></td>
                <td class="wdt-100px"></td>
                <td class="wdt-100px"></td>
                <td class="wdt-100px"></td>
                <td><a href="" ><img class="mini-icon" alt="corbeille" src="../../../assets/images/corbeille.png"></a></td>
                <td><a href=""><img class="mini-mini-icon" src="../../../assets/images/pencil.png" alt="pencil"></a></td>
            </tr>
            <tr>
                <td class="wdt-100px"></td>
                <td class="wdt-100px"></td>
                <td class="wdt-100px"></td>
                <td class="wdt-100px"></td>
                <td><a href="" ><img class="mini-icon" alt="corbeille" src="../../../assets/images/corbeille.png"></a></td>
                <td><a href=""><img class="mini-mini-icon" src="../../../assets/images/pencil.png" alt="pencil"></a></td>
            </tr>
            <tr>
                <td class="wdt-100px"></td>
                <td class="wdt-100px"></td>
                <td class="wdt-100px"></td>
                <td class="wdt-100px"></td>
                <td><a href="" ><img class="mini-icon" alt="corbeille" src="../../../assets/images/corbeille.png"></a></td>
                <td><a href=""><img class="mini-mini-icon" src="../../../assets/images/pencil.png" alt="pencil"></a></td>
            </tr>
            <tr>
                <td class="wdt-100px"></td>
                <td class="wdt-100px"></td>
                <td class="wdt-100px"></td>
                <td class="wdt-100px"></td>
                <td><a href="" ><img class="mini-icon" alt="corbeille" src="../../../assets/images/corbeille.png"></a></td>
                <td><a href=""><img class="mini-mini-icon" src="../../../assets/images/pencil.png" alt="pencil"></a></td>
            </tr>
            <tr>
                <td class="wdt-100px"></td>
                <td class="wdt-100px"></td>
                <td class="wdt-100px"></td>
                <td class="wdt-100px"></td>
                <td><a href="" ><img class="mini-icon" alt="corbeille" src="../../../assets/images/corbeille.png"></a></td>
                <td><a href=""><img class="mini-mini-icon" src="../../../assets/images/pencil.png" alt="pencil"></a></td>
            </tr>
            <tr>
                <td class="wdt-100px"></td>
                <td class="wdt-100px"></td>
                <td class="wdt-100px"></td>
                <td class="wdt-100px"></td>
                <td><a href="" ><img class="mini-icon" alt="corbeille" src="../../../assets/images/corbeille.png"></a></td>
                <td><a href=""><img class="mini-mini-icon" src="../../../assets/images/pencil.png" alt="pencil"></a></td>
            </tr>
            <tr>
                <td class="wdt-100px"></td>
                <td class="wdt-100px"></td>
                <td class="wdt-100px"></td>
                <td class="wdt-100px"></td>
                <td><a href="" ><img class="mini-icon" alt="corbeille" src="../../../assets/images/corbeille.png"></a></td>
                <td><a href=""><img class="mini-mini-icon" src="../../../assets/images/pencil.png" alt="pencil"></a></td>
            </tr>
            <tr>
                <td class="wdt-100px"></td>
                <td class="wdt-100px"></td>
                <td class="wdt-100px"></td>
                <td class="wdt-100px"></td>
                <td><a href="" ><img class="mini-icon" alt="corbeille" src="../../../assets/images/corbeille.png"></a></td>
                <td><a href=""><img class="mini-mini-icon" src="../../../assets/images/pencil.png" alt="pencil"></a></td>
            </tr>
            <tr>
                <td class="wdt-100px"></td>
                <td class="wdt-100px"></td>
                <td class="wdt-100px"></td>
                <td class="wdt-100px"></td>
                <td><a href="" ><img class="mini-icon" alt="corbeille" src="../../../assets/images/corbeille.png"></a></td>
                <td><a href=""><img class="mini-mini-icon" src="../../../assets/images/pencil.png" alt="pencil"></a></td>
            </tr>
        </table>
    </div>
    <div class="container-fluid fond">
        <div class="container-fluid d-flex justify-content-between block-btn flex-column">
            <div class="block-tr"></div>
            <div class="container-fluid d-flex justify-content-between block-btn2">
                <button><a href="http://localhost:8000/home">Retour</a></button>
                <button><a href="http://localhost:8000/creation-participant">Nouveau participant</a></button>
            </div>
        </div>
    </div>
{% endblock %}